<header>
    <a class="logo">
        <span routerLink="/home"> <span class="arrow">&#8701; </span>
        <span class="back"> {{'CONTACT.BACK' | translate}} </span>
        </span>
        </a>
   <div class="language">
    <!-- <button (click)="useLanguage('de')">DE</button>
        <button (click)="useLanguage('en')">EN</button> --> 
        <a href="https://www.instagram.com/bexysabe_tattoos2.0/" class="instagram"> <img class="insta"
                src="assets/img/instagram.png"></a>
                <a href="https://bexysabe.bigcartel.com" class="shop"> <img class="shop"
                    src="assets/img/shoppingcart.png"></a>
            </div> 
</header>