

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 20%;
    margin-bottom: 10%;
}
.buttons {
    margin-bottom: 5%;
    
}

.btns {
    width: 14rem;
    height: 4rem;
    font-size: 26px;
    color: var(--bexy);;

}
.margin {
    margin-right: 10rem;

}
@media only screen and (max-width: 660px) {
 .margin {
    margin-top: 3rem;
    margin-right: 3rem;
 }
 .buttons {
    text-align: center;

 }
 .btns {
    width: 10rem;
    height: 3rem;
    font-size: 18px;
    color: var(--bexy);;
    margin-top: 1rem;
    }
.title {
    margin-top: 0;
    margin-bottom: 0;
}
}